a {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0px 0px 15px 15px rgb(255, 255, 255) inset;
    cursor: pointer;
    color: rgb(21, 83, 15);
    font-family: 'Script MT', cursive;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    transform: scale(1.5);
    transition: 1s;
}

body {
    align-items: center;
    background-image: url("./images/Background_Designs/Nina_Trace_Website_2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    /* width: 100%; */
}

footer{
    color: rgb(21, 83, 15);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vw;
    margin-bottom: 20%;
}

h1{
    color: rgb(21, 83, 15);
    font-family:  'Script MT', cursive;
    font-size: 4vw;
    margin-top: 35%;
}

h2{
    color: rgb(21, 83, 15);
    font-family: 'Script MT', cursive;
    font-size: 3vw;
    margin-left: 1%;
}

h3{
    color: rgb(21, 83, 15);
    font-family: 'Script MT', cursive;
    font-size: 1.8vw;
    margin-left: 1%;
}

img {
    height: 100%;
    margin-bottom: 10%;
    width: 50%;
}

li{
    margin-top: 2%;
}

nav{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

p{
    color: rgb(21, 83, 15);
    font-family: 'Script MT', cursive;
    font-size: 2vw;
    font-weight: bold;
    margin: 1%;
}

ul{
    color: rgb(21, 83, 15);
    font-family: 'Script MT', cursive;
    font-size: 1.8vw;
}

#bankDetails{
    list-style: none;
}

#directionsFromDurban{
    width: 70%;
}

#directionsFromGauteng{
    width: 70%;
}

#directionsHeading{
    color: rgb(21, 83, 15);
    flex-direction: column;
    font-family: 'Script MT', cursive;
    font-size: 4vw;
    margin-top: 200%;
    width: 100%;
}

#directionshomePageLink{
    cursor: pointer;
    color: rgb(21, 83, 15);
    font-family: 'Script MT', cursive;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 42%;
    margin-top: 5%;
    text-decoration: none;
}

#directionshomePageLink:hover{
    transform: scale(1.5);
    transition: 1s;
}

#directionsMessage{
    width: 70%;
}

#faqsHastag{
    color: rgb(40, 167, 29);
    font-size: 1.8vw;
    font-weight: normal;
}

#faqsHeading{
    color: rgb(21, 83, 15);
    flex-direction: column;
    font-family: 'Script MT', cursive;
    font-size: 4vw;
    margin-top: 370%;
    width: 100%;
}

#faqshomePageLink{
    cursor: pointer;
    color: rgb(21, 83, 15);
    font-family: 'Script MT', cursive;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 6%;
    margin-top: 5%;
    text-decoration: none;
}

#faqshomePageLink:hover{
    transform: scale(1.5);
    transition: 1s;
}

#faqsImage{
    margin-bottom: 2.5%;
    margin-top: 1%;
    width: 28%; 
}

#faqsList{
    font-size: 1.8vw;
    margin-top: 3%;
}


#homePageLink{
    cursor: pointer;
    color: rgb(21, 83, 15);
    font-family: 'Script MT', cursive;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 50%;
    margin-top: 5%;
    text-decoration: none;
}

#homePageLink:hover{
    transform: scale(1.5);
    transition: 1s;
}

#homePagePhoto{
    height: 100%;
    width: 50%; 
}

#howToGetAround{
    width: 70%;
}

#navlinks{
    width: 80%;
    margin-bottom: 10%;
}

#oshomePageLink{
    cursor: pointer;
    color: rgb(21, 83, 15);
    font-family: 'Script MT', cursive;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 53%;
    margin-top: 5%;
    text-decoration: none;
}

#oshomePageLink:hover{
    transform: scale(1.5);
    transition: 1s;
}

#osPhotos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#osPhoto1{
    margin-left: 1%;
    margin-top: 1%;
    width: 19.5%;
}

#osPhoto2{
    margin-left: 1%;
    margin-top: 1%;
    width: 35%; 
}

#osPhoto3{
    margin-left: 1%;
    margin-top: 1%;
    width: 39%; 
}

#osParagraphs{
    font-family: 'Script MT', cursive;
    margin-bottom: 5%;
    margin-top: 5%;
}

#rsvpHeading{
    color: rgb(21, 83, 15);
    flex-direction: column;
    font-family: 'Script MT', cursive;
    font-size: 4vw;
    margin-top: 300%;
    width: 100%;
}

#rsvpHomePageLink{
    cursor: pointer;
    color: rgb(21, 83, 15);
    font-family: 'Script MT', cursive;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 68%;
    margin-top: 5%;
    text-decoration: none;
}

#rsvpHomePageLink:hover{
    transform: scale(1.5);
    transition: 1s;
}

#rsvpImage1{
    margin-bottom: 5%;
    margin-left: 1%;
    margin-top: 5%;
    width: 20%;
}

#rsvpImage2{
    margin-bottom: 5%;
    margin-left: 1%;
    margin-top: 5%;
    width: 39%;
}

#rsvpImage3{
    margin-bottom: 5%;
    margin-left: 1%;
    margin-top: 5%;
    width: 17.5%;
}

#rsvpPhotos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tiColumns{
    display: flex;
    flex-direction: row;
    width: 90%;
}

#ti1stColumn{
    display: block;
    flex: 1;
    flex-direction: column;
    margin-left: 5%;
    width: 50%;
}

#ti2ndColumn{
    display: block;
    flex: 1;
    flex-direction: column;
    margin-left: 5%;
    width: 50%;
}

#tiHeading{
    color: rgb(21, 83, 15);
    flex-direction: column;
    font-family: 'Script MT', cursive;
    font-size: 4vw;
    margin-top: 190%;
    width: 100%;
}

#tihomePageLink{
    cursor: pointer;
    color: rgb(21, 83, 15);
    font-family: 'Script MT', cursive;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 40%;
    margin-top: 5%;
    text-decoration: none;
}

#tihomePageLink:hover{
    transform: scale(1.5);
    transition: 1s;
}

#tiWeblink{
    color: rgb(40, 167, 29);
    font-size: 1.8vw;
    font-weight: normal;
    text-decoration: underline;
}

#tiWhereToStay{
    font-size: 1.8vw;
    width: 90%;
}

#ulFontSize{
    font-size: 1.8vw;
}



